{% load bootstrap3 %}
{% bootstrap_css %}
{% load render_table from django_tables2 %}
{% load static %}

{% load show_models %}


<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <link rel="stylesheet" href="{% static 'nnnba/styles.css' %} "/>
    </head>
    <body>

        {% include 'nnnba/header.html' %}

        <div class="player-info-body">

            <h1 class="player-name">{{ player.name }}</h1>

            <div class="player-model-selection">
                {% show_models player.id model_name %}
            </div>
            <div class="player-data-div">
                <div class="player-salary-div">
                    {% render_table value %}
                </div>

                <div class="player-base-stats-div">
                    {% render_table stats %}
                </div>
                <div class="player-add-stats-div">
                    {% render_table additional_stats %}
                </div>
            </div>
        </div>
    </body>
</html>
